/config.log
/.bin/
/.deps/
/.deps/encoding.Po
/.deps/generate-resources.Po
/Makefile
/autom4te.cache/
/config.h
/config.h.in~
/config.status
/configure
/encoding.o
/generate-resources
/generate-resources.o
/highlight.o
/http-connection.o
/http-exchange.o
/http-host.o
/http-message.o
/http-server.o
/http-url.o
/instrument-js.o
/instrument.o
/js/obj/
/js/obj/editline/libedit.a
/js/obj/js
/js/obj/js.o
/js/obj/libjs.a
/jscoverage
/jscoverage-server
/jscoverage-server.o
/jscoverage.o
/make-bin-dist.sh
/make-dist.sh
/resource-manager.o
/resources.c
/stamp-h1
/stream.o
/tests/.deps/
/tests/Makefile
/util.o

